<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952237113478-qs1q7u74stus7dlmragjjhr9h3r6gp8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952237113478-qs1q7u74stus7dlmragjjhr9h3r6gp8c</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Kf74Hz0_Ng1yVjqXNvgH0guYvBUpr-I</string>
	<key>GCM_SENDER_ID</key>
	<string>952237113478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bassam.ffmpeg</string>
	<key>PROJECT_ID</key>
	<string>ffmpeg-af4f9</string>
	<key>STORAGE_BUCKET</key>
	<string>ffmpeg-af4f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952237113478:ios:6ac01941af7593a6c49107</string>
	<key>DATABASE_URL</key>
	<string>https://ffmpeg-af4f9.firebaseio.com</string>
</dict>
</plist>